export interface CredentialsInterface {
  username: string,
  accessToken: string
}

export class Credentials {
  public username: string = "xxx";
  public accessToken: string = "xxx";

  constructor() {
  }

  public getCredentials(): CredentialsInterface {
    return {
      accessToken: this.accessToken,
      username: this.username
    }
  }
}