class Credentials {
  private username: string = "xxx";
  private accessToken: string = "xxx";

  constructor() {
  }

  public getCredentials() {
    return {
      accessToken: this.accessToken,
      username: this.username
    }
  }
}

export default new Credentials();